body {
  background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
  background-repeat:repeat;
  background-attachment:fixed;
  background-position:center; 
}
#wrapper {
  position: absolute;
  width: 1200px;
  height: 450px;
  background-color: #eefeff;
  outline: 1px solid highlight;
  border-radius: 5px;
  border: 1px solid rgba(40,40,40,0.5);
  -moz-outline-radius: 8px;
  display: inline;
}
* {
  font-family: Georgia;
}
#leftSideBar {
  display: -moz-box;
  width: 200px;
  height: 100%;
  -moz-box-orient: vertical;
  overflow-y: hidden;
}
#topBlank {
  height: 50px;
  width: 100%;
  border: 1px solid rgba(80,80,80,0.5);
  padding: 10px 0;
  text-align: center;
  border-radius : 5px 0px 0px 0px;
  background: -moz-linear-gradient(top, rgba(206,220,231,0.8) 0%, rgba(89,106,114,0.8) 100%);
}
#networkDataTitle, #contentDataTitle {
  max-height: 200px;
  min-height: 200px;
  width: 100%;
  border: 1px solid rgba(80,80,80,0.5);
  background: -moz-linear-gradient(top, rgba(206,220,231,0.8) 0%, rgba(89,106,114,0.8) 100%);
}
#contentDataTitle:hover, #networkDataTitle:hover {
  background: -moz-linear-gradient(top, rgba(89,106,114,0.8) 0%, rgba(206,220,231,0.8) 100%);
  border: 1px solid rgba(40,40,40,0.5);
}
#contentDataTitle {
  border-radius : 0px 0px 0px 5px;
}
#networkDataTitle > .caption ,#contentDataTitle > .caption {
  padding: 85px 0;
}
#timelineContainer {
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
  width: 1000px;
  max-height: 448px;
  border-radius : 0px 5px 5px 0px;
  border: 1px solid rgba(80,80,80,0.5);
  margin: 0px !important;
  padding: 0px !important;
}
#timelineContainer > canvas{
  padding: 0px !important;
  margin: -2px 0px !important;
}
.caption{
  text-align: center;
  width: 100%;
  clear: both;
  float: left;
  padding: 41px 0px 41px 0px;
  max-height: 100px;
}
#networkDivisions > .caption , #contentDivisions > .caption {
  background: -moz-linear-gradient(top, rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%);
}
.hidden {
  display: none;
}